*.aux
*.bbl
*.blg
*.log
*.out
thesis.pdf
sty/*.pdf
sty/*/*.pdf
*.tdo
*.fdb_latexmk
*.synctex.gz
*.swp
*/*.swp
*.ps
*.lof
*.lot
*.ptc
*.toc
tikz/*.pdf
thesis.acn
thesis.acr
thesis.alg
thesis.ist
*.loa
